.user-card {
  display: flex;
  flex-direction: column;

  margin-top: 5%;

  width: 95vw;
  height: 700px;

  -webkit-box-shadow: -1px 11px 18px 4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 11px 18px 4px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 11px 18px 4px rgba(0, 0, 0, 0.75);
}

.avatar-section {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  align-content: space-between;
  background-color: #ffffff;
  width: 100%;
  height: 40%;
}

.pic-wrapper {
  display: flex;
  text-align: center;

  margin-left: 7%;

  width: 25%;
  height: 100%;
}

.user-pic {
  border: 1px solid black;
  border-radius: 50%;
  width: 250px;
  max-width: 100%;
  max-height: 90%;

  margin: auto;
  object-fit: cover;
}

.name {
  font-size: 3rem;
  font-weight: bold;
  color: #212529;
  margin: auto 50% auto 0;
}

.desc-section {
  display: flex;
  flex-flow: column wrap;
}

.desc {
  font-size: 3rem;
  color: #ffffff;
  margin: 50px;
}
